*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family:'Courier New', Courier, monospace;
}
.contener{
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(bg.jpg) no-repeat; /*http://wallpaperswide.com/iceland_glacier_lagoon_blue_ice-wallpapers.html */
    background-size: cover;
}
.loginbox{
    width: 20vw;
    height: 50vh;
    background-color: transparent;
    position: relative;
    margin: 10% auto;
    padding: 5px;
    overflow: hidden;
}
.btnbox{
    width: 260px;
    margin: 10% auto;
    position: relative;
    box-shadow: 0 0 25px 5px rgb(3, 187, 178);
    border-radius: 50px;
}
.toggle-btn{
    padding: 12px 0px;
    width: 48%;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    font-size: 18px;
    /* color: rgb(41, 144, 195);
    text-shadow: 1px 1px 0 #33402a,-1px 1px 0 #33402a,-1px -1px 0 #33402a,1px -1px 0 #33402a; */
    color: #000;
    letter-spacing: 1px;
    font-weight: 600;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgb(228, 216, 216),rgb(3, 187, 178), rgb(41, 144, 195));
    border-radius: 30px;
    transition: .6s;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icona{
    background: rgba(41, 198, 226, 0.60);
    box-shadow: 0 0 25px 5px rgb(3, 187, 178);
    padding: 10px 5px;
    margin: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
}
.icona a:visited{
    color: #fff;
}
.inputs{
    position: relative;
    margin: 10px auto;
    width: 70%;
    transition: 1s;
}
.inputs input[type="text"],.inputs input[type="email"],.inputs input[type="password"]{
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size:16px;
    font-weight: 600;
}
.inputs input[type="text"]:-moz-placeholder,.inputs input[type="email"]:-moz-placeholder,.inputs input[type="password"]:-moz-placeholder {
    color: rgb(41, 198, 226);
}
.inputs input[type="text"]::-webkit-input-placeholder,.inputs input[type="email"]::-webkit-input-placeholder,.inputs input[type="password"]::-webkit-input-placeholder {
    color: rgb(41, 198, 226);
}
.inputs input[type="checkbox"]{
    margin: 15px 10px 0 0;
}
.inputs span{
    color: #fff;
    font-size: 12px;
}
.inputs button[type="submit"]{
    width: 80%;
    padding: 12px 30px;
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    background: linear-gradient(to left,  rgba(41, 198, 226),rgb(255, 255, 255, .6), rgba(41, 198, 220));
    box-shadow: 0 0 25px 5px rgb(3, 187, 178);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight:700;  
    transition:.6s ;
}
.inputs button[type="submit"]:hover{
    transform: scale(1.1);
}
#register{
    left: 400px;
    top: -200px;
}
#login{
    left: 0;
    top: 0;
}